<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
        <link href='/stylesheets/main.css' rel='stylesheet'>
    </head>
    <body>
    <nav class='navbar navbar-light bg-light navbar-expand-lg'>
        <div class='container-fluid'>
            <a class='navbar-brand' href='/'>YelpCamp</a>
            <div class='collapse navbar-collapse'>
                <ul class='navbar-nav mr-auto'>
                <% if (!currentUser) { %>
                        <li class='nav-item'><a class='nav-link' href='/login'>Login</a></li>
                        <li class='nav-item'><a class='nav-link' href='/register'>Signup</a></li>
                    <% } else { %>
                        <li><a href='#' class='nav-link'>Signed In As <%= currentUser.username %></a></li>
                        <li class='nav-item'><a class='nav-link' href='/logout'>Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class='container'>
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert"><%= success %></div>
        <% } %>            
    </div>